<li id="comment-<%= comment._id %>">
    <p><!-- below verify  whether the user is signed in and the user who logged in is same the user who has made the post -->
        <% if(locals.user && locals.user.id==comment.user.id) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id%>">DELETE</a>
            </small>
        
        
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
    </p>
  </li>