<h1>hello i m in <%=title%></h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="post"></form>
    <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
    <input type="submit" value="Post">

</section>