<link rel="stylesheet" href="/css/user_profile.css">
    <p>this is user profile
    </p>
    <p>User: <%=user.name %> </p>
    <p>email: <%=user.email %> </p>

    <!-- <p>
        
        <a href="/deletesession/?id=<%=user._id%> " >Sign-out
        </a>
    </p> -->

  