<div>
    <p>
        Hi  <%= resetPasswordToken.user.name %>,
        <br>
        Please click on below link to reset the password
    </p>
    <br>
    <br>
    <p style="color:red; background-color: pink;"><a href="http://localhost:8000/reset-password/?accessToken=<%= resetPasswordToken.accessToken %>">Reset your password</a> </strong></p>

    <br>
    <br>
    <p>Thanks</p>
</div>